html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
}


.signup-btn {
    text-decoration: none;
    color: white;
}

.login-main {
    height: 100%;
    margin: 0;
    padding: 0;
}
 .search-container {
    height: 100%;
    margin: 0;
    padding: 0;
 }

.watch-later-btn {
    text-decoration: none;
    color: white;
}

.favorite-btn {
    text-decoration: none;
    color: white;
}

.icon-center {
    display: block;
    margin: auto;
}

.carousel-poster {
    max-width: 100%; 
    max-height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
th {
    background-color: #f2f2f2;
}