<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar-icon">
            <a href="home">StreamVault</a>            
        </div>
        <form class="search-bar" role="search" action="http://127.0.0.1:5000/search" method="get">
            <input type="search" id="search-input" name="title" placeholder="Search">
            <button type="submit" class="material-icons">search</button>
        </form>
        <div class="navbar">
            <a href="#">Profile</a>
            <a href="favorites">Favorites</a>
            <a href="watch_later">Watch Later</a>
            <a href="logout">Logout</a>
        </div>
    </div>
    <div id="liveAlertPlaceholder"></div>
    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>