{% extends "base.html" %} {% block title %}StreamVault | Favorites{% endblock %} {% block content
    %}
    <table class="favorites-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rated</th>
            <th>Released</th>
            <th>Runtime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for favorite in favorites %}
          <tr>
            <td><a href="http://127.0.0.1:5000/search?title={{favorite.title}}">{{ favorite.title }}</a></td>
            <td>{{ favorite.year }}</td>
            <td>{{ favorite.rated }}</td>
            <td>{{ favorite.released }}</td>
            <td>{{ favorite.runtime }}</td>
            <td>
              <button class="material-icons delete-fav-btn" favorite_id={{favorite.favorite_id}}>delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>        
{% endblock %}