{% extends "base.html" %} {% block title %}StreamVault | Favorites{% endblock %} {% block content
    %}
    <table class="favorites-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rated</th>
            <th>Released</th>
            <th>Runtime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for favorite in favorites %}
          <tr>
            <td><a href="http://127.0.0.1:5000/search?title={{favorite.title}}">{{ favorite.title }}</a></td>
            <td>{{ favorite.year }}</td>
            <td>{{ favorite.rated }}</td>
            <td>{{ favorite.released }}</td>
            <td>{{ favorite.runtime }}</td>
            <td>
              <button class="delete-fav-btn" favorite_id={{favorite.favorite_id}}><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>        
{% endblock %}