{% extends "base.html" %} {% block title %}StreamVault | Home{% endblock %} 
{% block content%}
<div class="header">
    <h4>Popular Movies</h4>
</div>
<div class="wrapper">
    {% for movie in movies %}
    <div class="item">
        <a href="http://127.0.0.1:5000/search?title={{ movie[0] }}">
            <img src="https://image.tmdb.org/t/p/w185/{{ movie[1] }}" alt="{{ movie[0] }} Poster">
        </a>
    </div>
    {% endfor %}
</div>
<div class="header">
    <h4>Top Rated Movies</h4>
</div>
<div class="wrapper">
    {% for movie in top_rated %}
    <div class="item">
        <a href="http://127.0.0.1:5000/search?title={{ movie[0] }}">
            <img src="https://image.tmdb.org/t/p/w185/{{ movie[1] }}" alt="{{ movie[0] }} Poster">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}