{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<div class="header">
    <h4>Trending Movies</h4>
</div>
<div class="wrapper">
    {% for movie in popular_movies %}
    <div class="item">
        <a href="http://127.0.0.1:5000/search?title=inception">
            <img src="/static/images/Inception.jpg" alt="Inception Poster">
        </a>
    </div>
    {% endfor %}
</div>
<div class="header">
    <h4>Trending Shows</h4>
</div>
<div class="wrapper">
    {% for tv in popular_tv %}
    <div class="item">
        <a href="http://127.0.0.1:5000/search?title=inception">
            <img src="/static/images/Inception.jpg" alt="Inception Poster">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}