{% extends "base.html" %} {% block title %} {{ tmdb_info.title }} {% endblock %} {% block content
    %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://image.tmdb.org/t/p/w185/{{ tmdb_info.poster_path }}" alt="Movie Poster" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <h2>{{ tmdb_info.title }}</h2>
                                <p><strong>Year:</strong> {{ omdb_info.Year }}</p>
                                <p><strong>Rated:</strong> {{ omdb_info.Rated }}</p>                                
                                <p><strong>IMDb Rating:</strong> {{ omdb_info.imdbRating }}</p>
                                <p><strong>TMDB Rating:</strong> {{ tmdb_info.vote_average }}</p>

                                <div class="d-flex flex-row align-items-center justify-content-evenly">
                                    <button id="watch-later-btn" type="submit" class="btn btn-primary form-btn"
                                    username={{username}} movie_title="{{omdb_info.Title}}" movie_year="{{omdb_info.Year}}" movie_rated="{{omdb_info.Rated}}"
                                    movie_released="{{omdb_info.Released}}" movie_runtime="{{omdb_info.Runtime}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle icon-center" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </button>
                                    <button id="favorite-btn" type="submit" class="btn btn-primary form-btn"
                                    username={{username}} movie_title="{{omdb_info.Title}}" movie_year="{{omdb_info.Year}}" movie_rated="{{omdb_info.Rated}}"
                                    movie_released="{{omdb_info.Released}}" movie_runtime="{{omdb_info.Runtime}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart icon-center" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <p><strong>Plot:</strong> {{ tmdb_info.overview }}</p>
                            <p><strong>Released:</strong> {{ tmdb_info.release_date }}</p>
                            <p><strong>Runtime:</strong> {{ tmdb_info.runtime }} minutes</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="item">
                                <img src="https://image.tmdb.org/t/p/w185/" alt="Poster">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}