{% extends "base.html" %} {% block title %}StreamVault | Watch Later{% endblock %} {% block content
    %}
    <table class="watch-later-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rated</th>
            <th>Released</th>
            <th>Runtime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for watch_later in watch_later_list %}
          <tr>
            <td><a href="http://127.0.0.1:5000/search?title={{watch_later.title}}">{{ watch_later.title }}</a></td>
            <td>{{ watch_later.year }}</td>
            <td>{{ watch_later.rated }}</td>
            <td>{{ watch_later.released }}</td>
            <td>{{ watch_later.runtime }}</td>
            <td>
              <button class="material-icons delete-wl-btn" watch_later_id={{watch_later.watch_later_id}}>delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}